<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzy.web" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>

    <application
        android:allowBackup="false"
        android:supportsRtl="true">

        <activity
            android:name=".MyWebActivity"
            android:theme="@style/activity_theme"
            android:process=":web"
            >
        </activity>
    </application>
</manifest>
