<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zzy.login">
    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        >
        <activity
            android:name=".view.activity.LoginActivity"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait"
            android:theme="@style/welcome_full_screen"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
