<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzy.business" >

    <application>
        <activity
            android:name=".view.activity.AssemblyDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".view.activity.ContentDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".view.activity.PioneeringNewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".view.activity.PioneeringDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".view.activity.FriendsCircleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".view.activity.EntrepreneurshipHelpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".view.activity.PioneeringListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".view.activity.EntrepreneurshipServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".view.activity.PioneerListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".view.activity.PioneerDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".view.activity.ExpertDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".view.activity.FeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".view.activity.GetRichInfoListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".view.activity.GetRichInfoDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".view.activity.GoodsDetailBuyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".view.activity.GoodsDetailSellActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".view.activity.GoodsNewBuyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".view.activity.GoodsNewSellActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".view.activity.GoodsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />

        <activity
            android:name=".view.activity.HelpDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".view.activity.IndustrialDistributionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".view.activity.PersonalArchivesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".view.activity.PhoneBookListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".view.activity.PublishContentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".view.activity.PublishContentToFriendsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".view.activity.JobNewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".view.activity.JobDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".view.activity.JobListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />

        <activity
            android:name=".view.activity.ShareExperienceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".view.activity.SkillDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".view.activity.SpecialDkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
    </application>

</manifest>
