<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzy.update">

    <application
        android:allowBackup="false"
        android:supportsRtl="true">

        <service android:name=".DownloadService" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.update.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!--元数据-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>